@import "bootstrap-customize.less";
.main-content {
	padding: 1em 0;
}
.ad-wrapper {
	.make-row();
	padding: 2em 0;
	.ad-box {
		.make-xs-column(4);
	}
	img {
		width: 100%;
	}
}
.page-footer {
	padding: 2em;
	background-color: gray;
	text-align: center;
}
.full-width {
	width: 100%;
}